.TicketField {
  padding: 3px;
  height: 15px;
  width: 60px;
  font-size: 18px;

  &__title {
    text-align: center;
    background-color: transparent;
  }

  &--crossed-out {
    background-image: linear-gradient(
        to bottom right,
        transparent calc(50% - 1px),
        #555,
        transparent calc(50% + 1px)
      ),
      linear-gradient(
        to top right,
        transparent calc(50% - 1px),
        #555,
        transparent calc(50% + 1px)
      );
  }

  &--clickable {
    cursor: pointer;
  }
}
