.Sphere {
  line-height: 34px;
  text-align: center;
  display: block;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  margin: 0;
  color: white;

  &--blue {
    background: radial-gradient(
      circle at 30% 30%,
      rgba(0, 0, 255, 0.75) 40%,
      rgba(0, 0, 55, 1) 100%
    );
  }

  &--black {
    background: radial-gradient(
      circle at 30% 30%,
      rgba(60, 60, 60, 0.75) 40%,
      rgba(0, 0, 0, 1) 100%
    );
  }

  &--red {
    background: radial-gradient(
      circle at 30% 30%,
      rgba(255, 0, 0, 0.75) 40%,
      rgba(55, 0, 0, 1) 100%
    );
  }

  &--yellow {
    background: radial-gradient(
      circle at 30% 30%,
      rgb(240, 240, 0) 40%,
      rgba(55, 55, 0, 1) 100%
    );
    color: black;
  }

  &--green {
    background: radial-gradient(
      circle at 30% 30%,
      rgba(0, 245, 0, 1) 40%,
      rgba(0, 55, 0, 1) 100%
    );
    color: black;
  }
}
