.Ball {
  line-height: 1;
  background-color: darkgrey;
  border-radius: 50%;
  padding: 7px;
}

.Ball.Ball--blue {
  background-color: rgba(0, 0, 255, 0.5);
}

.Ball.Ball--black {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.Ball.Ball--red {
  background-color: rgba(255, 0, 0, 0.5);
}

.Ball.Ball--yellow {
  background-color: rgba(255, 255, 0, 0.5);
}

.Ball.Ball--green {
  background-color: rgba(0, 255, 0, 0.5);
}
