.Ticket {
  font-family: 'Courier New', Courier, monospace, sans-serif;
  position: relative;
  background: url(../../images/bg.jpg) left top;
  overflow: hidden;

  table {
    border-collapse: collapse;
  }

  td,
  th {
    user-select: none;
    border: 1px dashed black;
  }

  &__footer {
    margin-top: 10px;
  }

  &__ticket-number {
    letter-spacing: 2px;
  }

  &__close {
    position: absolute;
    right: 24px;
    top: 10px;
    color: darkgrey;

    &:hover,
    &:active {
      color: grey;
      text-decoration: none;
    }
  }
}
